# Outils et écosystème de la science des données

Dans ce notebook, les outils et l'écosystème de la science des données sont résumés.

**Objectifs :**

- Lister les langages populaires pour la science des données
- Lister les bibliothèques couramment utilisées par les scientifiques des données
- Introduire un exemples d’expression arithmétique

Certains des langages populaires que les scientifiques des données utilisent sont :

1. Python
2. R
3. SQL
4. Excel
5. Power BI

Certaines des bibliothèques couramment utilisées par les scientifiques des données incluent :

1. Pandas
2. Scikit-learn
3. tidyverse
4. tidymodels
5. Tensor

| Outils de la science des données |
| --- |
| Jupyter Notebook |
| KNIME Analytics Platform |
| Apache Spark |

Voici quelques exemples d'évaluation d'expressions arithmétiques en Python

In [5]:
# Ceci est une simple expression arithmétique pour multiplier puis additionner des entiers

(3*4)+5

17

In [6]:
minutes = 200

# Cela convertira 200 minutes en heures en divisant par 60
heures = minutes/60

heures

3.3333333333333335

## Autheur

Kouassi Paul Emmanuel